@import './tooltip.scss';
/*==========================================================================
   Author's custom styles
 ========================================================================== */
li.actif {
    a {
        color: blue;
        font-weight: bolder;
        font-size: 2em;
    }
}
